*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
:root{
    --Morado: #5e42a6;
--Rosado: #fe7472;
--Azul: #749ffe;
--Naranjaclaro: #ffb274;
--LetrasHeader: #fff;
}
.BigContainer{
    width: 95vw;
    height: 95vh;
    display: flex;
}
header{ /*configurando el aspecto principal de la barra de navegacion*/
    width: 23%;
    height: 100%;
    background-color: var(--Morado);
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--LetrasHeader);
}
header > div:first-child{ /*dandole estilos al contenedor que tiene el logo*/
    height: 30%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
 header > div:first-child > img{ /*colocando como fit al logo dentro del contenedor*/
    height: 10vh;
    object-fit: 2/1;

} 
header > div:last-child{
    display: flex;
    width: 85%;
    
    flex-direction: column;
  
    font-size: 1.5em;
  
}
header > div:last-child > div{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    margin: .5em;   border-bottom: solid var(--LetrasHeader) 1px;
    
}
header > div:last-child > div:hover, main > div:first-child:hover{
    opacity: 75%;
    transition: .5s;
}
header > div:last-child > div span{
    float: right;
}

 main{
    width: 50%;
    height: 100%;
    /* background-color: red; */
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}
main > div:first-child{
    display: block;
    margin: 0 30px;
    font-size: 2em;
    color: var(--Morado);
}
main > section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
main > section > article{
    display: flex;
    position: relative;
    margin: 10px 0;
    align-items: center;
    flex-direction: column;
    color: var(--LetrasHeader);
}
main > section > article img{
    object-fit: 2/1;
}
main > section > article:first-child{
    background-color: var(--Rosado);
}
main > section > article:nth-child(2){
    background-color: var(--Azul);
}
main > section > article:nth-child(3){
    background-color: var(--Morado);
}
main > section > article:last-child{
    background-color: var(--Naranjaclaro);
}
/*TARJETA CORPORATIVA*/
.message{
    display: none;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 280px;
    height: 210px;
    
    z-index: 4;
}
.b1{
    background-color: var(--Rosado); opacity: 80%;
}
.b2{
    background-color: var(--Azul); opacity: 80%;
}
.b3{
    background-color: var(--Morado); opacity: 80%;
}
.b4{
    background-color: var(--Naranjaclaro); opacity: 80%;
}
main > section > article:hover > .message{
    display: block;
    transition: 1s;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.23);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.23);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.23);
}

/* main > section > article:hover > img{
    display: none;
} */







@media screen and (max-width: 560px) { 
    *{
        
    }
    .BigContainer{
        position: absolute;
        left: 0;
        top: 0;
        display: flex;
        flex-direction: column;
        width: 100vw;
    } 
    header{
        
        width: 100%;
        height: 15%;
        background-color: var(--Morado);
        flex-direction: column;
        justify-content: center;
        height: 70vh;
    }
    header > div:first-child{
        margin: 15px 0;
    }
    header > div:last-child{
        align-items: center;
        flex-wrap: wrap;
        flex-direction: row;
    }
    header > div:last-child > div{
        justify-content: center;
        flex-direction: row;
        margin: 15px 0;
    }
    main > section{
        width: 100vw;
        justify-content: center;
    }
}


 /* Medium devices (tablets, 768px and up)
/* @media (min-width: 768px) {
    *{
        
    }
} */

/* Large devices (desktops, 992px and up)  */
@media screen and (min-width: 600px) and (max-width: 1291px) and (orientation: portrait){
    .BigContainer{
        display: flex;
        flex-direction: column;
        width: 100vw;
    }
    header{
        width: 100%;
        height: 15%;
        background-color: var(--Morado);
        flex-direction: row;
        justify-content: space-between;
    }
    header > div:first-child{
        width: 15vw;
        border: none;
       margin-left: 30px;

    }
    header > div:first-child img{
        width: 100%;
        object-fit: 1/1;
    }
    header > div:last-child{
        flex-direction: row;
        font-size: 1.2em;
        margin: 10px;
        justify-content: space-between;
        align-items: center;
        width: 50%;
        
    }
    header > div:last-child > div{
        flex-direction: row;
        margin: 0px;
        width: 20%;
        border: none;
    }
    main{
        width: 100%;
        height: 50%;
        flex-direction: column;
        
    }
    main > section{
        flex-direction: row;
        flex-wrap: wrap;
        align-content: space-evenly;
    }
    main > section > article {
        align-items: center;
    }
    main > section > article img{
        width: 100%;
    }
}
@media screen and (min-width: 600px) and (max-width: 991px) and (orientation: landscape){
    *{

    }
    .BigContainer{
        display: flex;
        flex-direction: column;
        width: 100vw;
    }
    header{
        width: 100%;
        height: 15%;
        background-color: var(--Morado);
        flex-direction: row;
        justify-content: space-between;
    }
    header > div:first-child{
        width: 15vw;
        border: none;
       margin-left: 30px;

    }
    header > div:first-child img{
        width: 100%;
        object-fit: 1/1;
    }
    header > div:last-child{
        flex-direction: row;
        font-size: 1.2em;
        margin: 10px;
        justify-content: space-between;
        align-items: center;
        width: 50%;
        
    }
    header > div:last-child > div{
        flex-direction: row;
        margin: 0px;
        width: 20%;
        border: none;
    }
    main{
        width: 100%;
        height: 50%;
   
        flex-wrap: nowrap;
        flex-direction: column;
    }
    main > section{
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: space-evenly;
    }
    main > section > article {
        width: 20vw;
        align-items: center;
    }
    main > section > article img{
        width: 100%;
    }
    
 }
 @media screen and (min-width: 990px) {

 }
/* 
// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    *{
        width: 30%;
    }
 } */


