*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
:root{
    --Morado: #5e42a6;
--Rosado: #fe7472;
--Azul: #749ffe;
--Naranjaclaro: #ffb274;
--LetrasHeader: #fff;
}
.BigContainer{
    width: 95vw;
    height: 95vh;
    display: flex;
}
header{ /*configurando el aspecto principal de la barra de navegacion*/
    width: 23%;
    height: 100%;
    background-color: var(--Morado);
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--LetrasHeader);
}
header > div:first-child{ /*dandole estilos al contenedor que tiene el logo*/
    height: 30%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
 header > div:first-child > img{ /*colocando como fit al logo dentro del contenedor*/
    height: 10vh;
    object-fit: 2/1;

} 
header > div:last-child{
    display: flex;
    width: 85%;
    
    flex-direction: column;
    padding: 0px;
    font-size: 1.5em;
  
}
header > div:last-child > div{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    margin: .5em;   border-bottom: solid var(--LetrasHeader) 1px;
    
}
header > div:last-child > div span{
    float: right;
}

 main{
    width: 50%;
    height: 100%;
    /* background-color: red; */
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}
main > div:first-child{
    display: block;
    margin: 0 30px;
    font-size: 2em;
    color: var(--Morado);
}
main > section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 30px 30px 30px 15px;
}
main > section > article{
    display: flex;
  
    margin: 10px 0;
    align-items: center;
    flex-direction: column;
    color: var(--LetrasHeader);
}
main > section > article img{
    object-fit: 2/1;
}
main > section > article:first-child{
    background-color: var(--Rosado);
}
main > section > article:nth-child(2){
    background-color: var(--Azul);
}
main > section > article:nth-child(3){
    background-color: var(--Morado);
}
main > section > article:last-child{
    background-color: var(--Naranjaclaro);
}





/* 
@media (min-width: 576px) { 
    *{
        
    }
 }

 /* Medium devices (tablets, 768px and up) */
/* @media (min-width: 768px) {
    *{
        
    }
} */

/* Large devices (desktops, 992px and up)  */
/* @media (min-width: 992px) {
    *{
        width: 30%;
    }
 } */
/* 
// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    *{
        width: 30%;
    }
 } */


