*{
   /* box-sizing: border-box; */
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
:root{
    --ColorHeader: lightgray;
    --RojoAirnb: #FF385C;
    --White: #fff;
}

/* posicion del header */
header{
    height: 27.4vh; 
}
/* estilos del main */
main{
   height: 65.2vh ; 
   padding: 0.4vh;
   /* border: solid black 3px; */
   margin: 0 10px;
   display: flex;

   justify-content: space-between;
   flex-wrap: wrap;
}

/* estilos footer */
footer{
    height: 7.4vh; 
    border: solid black 3px;
}
main > div{
    height: 85%;
    display: flex;
    padding: 0.4vh;
    
    margin-bottom: 2% !important;
    background-color: green;
    width: 100%;
     
    
}

main > div > img{
    object-fit: cover;
    width: 100%;
    height: 50%;
    

}
/*INPUT DEL ENCABEZADO*/
.input{ /*estilos del encabezado de la pagina*/
    display: flex;
    justify-content: space-around;
    background-color: transparent;
    align-items: center;
    height: 45%;
}
.input > img{
  height: 100%;
  width: 20%;
    object-fit: contain;
}
.input > div:first-of-type{ /*aqui se esta comenzando a dar estilos al encabezado principal y central del header*/
    display: flex;
    justify-content: space-around;
    border: solid var(--ColorHeader) 1px;
    border-radius: 35px;
    padding:  8px 12px;
}
.input > div:first-of-type > div{
    padding: 0 6px;
}
.input > div:first-of-type > div:first-child, .input > div:first-of-type > div:nth-child(2){ /*Color del borde en el header principal*/
    border-right: solid var(--ColorHeader) 0.3px ;
    justify-content: center;
    align-items: center;
}
.input > div:first-of-type > div:nth-child(3){
    display: flex;
    justify-content: center;
    align-items: center;
}
.input > div:first-of-type > div:nth-child(3) > div{
    background-color: var(--RojoAirnb);
    border-radius: 50px;
    color: var(--White);
    padding: 3px 3px 0;
 
}
.input > div:last-child{
    display: flex;
    padding: 10px 0;
    justify-content: space-between;
    width: 20%;
}

/*BARRA DE SELECCION DE CASAS*/
.headfilter{ /*para aplicar contenedores de padre flex a los hijos de estos contenedores*/
    display: flex;
}
.headfilter >div:first-child{ /*para tener un mejor control sobre los hijos del flex aqui*/
    display: flex;
    padding: 40px;
    width: 80%;
    justify-content: space-between;
}
.headfilter > div:first-child > div{ /*para que el texto se vea completo sin importar la imagen*/
    display: flex;
    flex-direction: column;
    align-items: center;
}
.headfilter > div:first-child > div img{ /*para ajustar el tamaño de las imagenes en relacion al contenedor y que no sean tan grandes*/
    width: 30px;
    object-fit: 1 / 1;
}
.headfilter > div:first-child > div span{ /*reduciendo un poco la fuente para que se vea mas estetico*/
    font-size: .75em;
}
.headfilter >div:last-child{
    display: flex;
    width: 10%;
    justify-content: flex-end;
    align-items: center;
   
}
.headfilter >div:last-child > div{
    border: solid var(--ColorHeader) 2px;
    padding: 20px;
    border-radius: 15px;
}
/* .presentation{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    flex-wrap: wrap-reverse;
    align-items: start;
} */

/* // Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) { 
    main > div{
        width: 100%;
        display: block;
   
     
    }
 }

/* // Medium devices (tablets, 768px and up) */
@media screen and (min-width: 872px ) { 
    /* main{
        height: 100%;
    } */
    main > div{
        width: 85%;
        display: inline-block;
    }
 }

/* // Large devices (desktops, 992px and up)
*/
@media screen and  (min-width: 920px) { 
    main > div{
        width: 40%;
    }
}
/*
// X-Large devices (large desktops, 1200px and up)
@media screen and (min-width: 1200px) {
    main > div{
        width: 20%;
    }
 }

*//* XX-Large devices (larger desktops, 1400px and up)*/
 @media screen and (min-width: 1400px) { 
    main > div{
        width: 20%;
    }
}