*{
   
}

/* posicion del header */
header{
    height: 27.4vh; 
}
/* estilos del main */
main{
   height: 65.2vh ; 
   padding: 0.4vh;
   border: solid black 3px;
   
}

/* estilos footer */
footer{
    height: 7.4vh; 
    border: solid black 3px;
}
main > div{
    height: 85%;
    display: inline-block;
    padding: 0.4vh;
    margin: 10px 20px;
    margin-bottom: 2% !important;
    background-color: green;
    width: 100%;
    
}
main > div:first-child{
    position: relative;
    top: -14em;
}
main > div > img{
    object-fit: cover;
    width: 100%;
    height: 50%;

}

/* // Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) { 
    main > div{
        width: 100%;
        display: block;
   
     
    }
 }

/* // Medium devices (tablets, 768px and up) */
@media screen and (min-width: 872px ) { 
    /* main{
        height: 100%;
    } */
    main > div{
        width: 85%;
        display: inline-block;
    }
 }

/* // Large devices (desktops, 992px and up)
*/
@media screen and  (min-width: 920px) { 
    main > div{
        width: 40%;
    }
}
/*
// X-Large devices (large desktops, 1200px and up)
@media screen and (min-width: 1200px) {
    main > div{
        width: 20%;
    }
 }

*//* XX-Large devices (larger desktops, 1400px and up)*/
 @media screen and (min-width: 1400px) { 
    main > div{
        width: 20%;
    }
}